--find-links https://download.pytorch.org/whl/torch_stable.html

numpy==1.19.5
Pillow==8.2.0
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
python-telegram-bot==13.4.1
tornado==6.1
python-dotenv==0.17.1
imgaug
tensorflow
opencv-python
opencv-contrib-python